#top {
    overflow: hidden;
    background-color: var(--main-color);
    border-radius: 10px;
    display: flex;
}

#title {
    font-size: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.TNButton {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    margin: 12px;
    padding: 12px;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--button-color);
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
}

.TNButton:hover {
    color: var(--button-color);
    background-color: var(--high-color);
    border-radius: 25px;
}

#CC {
    color:var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--detail-color);
    width: fit-content;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 8px;
}

#CC a{
    text-decoration: none;
    color: var(--text-color);
}