#top {
    overflow: hidden;
    background-color: #DDD;
    border-radius: 10px;
    display: flex;
}

#title {
    font-size: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.TNButton {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    margin: 12px;
    padding: 12px;
    text-decoration: none;
    color:#444;
    background-color: #CCC;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
}

.TNButton:hover {
    color:#CCC;
    background-color: #444;
    border-radius: 25px;
}

#CC {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}