.project {
    border: 5px solid var(--detail-color);
    border-radius: 5px;
    margin: 10px;
    width: auto;
}

.project img {
    margin: 5px;
    display: inline;
}

.project-container {
    display: grid;
    max-width: 100vw;
}

.project-title {
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

#pychess {
    grid-area: 1 / 1 / 3 / 2;
}

#infinite-chess {
    grid-area: 1 / 2 / 3 / 3;
}